.ContactCard {
  border: 2px solid $linkColor;
  background-color: $cardbg;
  display: grid;
  grid-area: contact;
  grid-template-areas: "img"
  "link";
  grid-template-rows: 2.5fr 1fr;
  height: 6rem;
  margin: 0 2rem;
  padding: .5rem;
  width: 10%;

  img {
    display: block;
    grid-area: img;
    margin: auto auto;
    min-height: 1rem;
    width: 25%;
  }
  a {
    color: $linkColor;
    display: block;
    font-family: $bodyfont;
    font-size: 1.2rem;
    font-weight: bold;
    grid-area: link;
    text-align: center;
    &:visited {
      color: $linkVisited;
    }
  }
}
