.ContactCard {
  border: 2px solid $accent;
  background-color: $cardbg;
  grid-area: contact;
  height: 6rem;
  display: inline-block;
  margin: 0 2rem;
  padding: .5rem;
  width: 18%;

  img {
    display: block;
    margin: auto auto;
    width: 35%;
  }
  a {
    color: $linkColor;
    display: block;
    font-family: $bodyfont;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    &:visited {
      color: $linkVisited;
    }
  }
}
