.Header nav {
  display: inline-flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem 5rem;
  position: absolute;
  width: 15rem;
}

.Header h1 {
  margin:  1rem 0;
  display: inline-flex;
  justify-content: space-around;
  position: absolute;
  right: 2rem;
}