.Header {
  font-family: $fancyfont;
  grid-area: nav;

  span {
    color: $accent;
  }
}

.Header nav {
  display: inline-grid;
  font-size: 1.3rem;
  grid-template-areas: "about projects contact";
  padding: 1rem 1rem;

  .nav-abt {
    grid-area: about;
  }

  .nav-projects {
    grid-area: projects;
  }

  .nav-contact {
    grid-area: contact;
  }
  a {
    margin: .5rem 1.5rem;
  }
}

.Header a {
  border-bottom: 2px solid transparent;
  color: white;
  text-decoration: none;
  &:hover {
    color: $accent;
    border-bottom: 2px solid $accent;
  }
}

.Header h1 {
  color: white;
  display: inline;
  font-size: 2rem;
  margin:  .5rem 0;
  position: absolute;
  right: 1rem;
}