// FONTS --- >
$bodyfont: 'Montserrat', sans-serif;
$fancyfont: 'Domine', serif;


// COLORS --- >
$accent: hsla(332, 96%, 48%, 1);
$projectbg: rgba(242, 5, 116, .2);
$linkColor: hsla(169, 96%, 38%, 0.7);
$cardbg: rgba(4, 191, 157, .3);
// $cardbg: rgba(242, 183, 5, .4);
// $cardbg: rgba(242, 135, 5, .3);
// $border: rgba(242, 135, 5, .7)
// $cardbg: rgba(242, 68, 5, .8);


$linkVisited: rgba(242, 121, 188, 1);
$summary: rgba(4, 191, 157, 1);
// $summary: rgba(186, 217, 206, .8);
// $summary: rgba(242, 183, 5, 1)
// rgba(242, 135, 5, 1)
