// FONTS --- >
$bodyfont: 'Montserrat', sans-serif;
$fancyfont: 'Domine', serif;


// COLORS --- >
$accent: rgba(242, 5, 116, .7);
$cardbg: rgba(242, 5, 116, .2);
$linkColor: rgba(4, 191, 157, .7);
// $cardbg: rgba(4, 191, 157, .3);
// $cardbg: rgba(242, 183, 5, .4);
// $cardbg: rgba(242, 135, 5, .3);
// $border: rgba(242, 135, 5, .7)
$linkVisited: rgba(242, 68, 5, .8);
